
.h4 input[type="email"],
.h4 input[type="text"],
.h4 input[type="password"] {
  width: 700px; /* Set width to 500px */
  height: 40px;
    background-color: rgba(0, 0, 0, 0); /* Black with 0.7 opacity */
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 0.9em;
    font-family: 'Arial', sans-serif;
    color: white; /* Text color */
}
.responsive-message {
  color: white;
  font-size: 1em;
  text-align: center;
  margin: 20px 0;
}

/* Add additional responsive styles as needed */
@media screen and (max-width: 600px) {
  .responsive-message {
    font-size: 0.9em;
  }
}

.h4 input[type="email"]::placeholder,
.h4 input[type="text"]::placeholder,
.h4 input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 1); /* White with 0.7 opacity */
    border: none;
    font-size: 0.9em;
}

.reset-section {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  transform: scale(0.9);
  transform-origin: top;
}

.reset-section label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: white;
}

.reset-section input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 22px);
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 1em;
  color: white;
}

.reset-section button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
}

.reset-section button:hover {
  background-color: #0056b3;
}

.text-white {
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
}