/* Custom styles for the Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Set a higher z-index to ensure it is above other elements */
    background-color: #000; /* Set the background color */
    border-bottom: 2px solid #000000;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-toggler-icon {
    background-color: #ffffff;
  }
  
  .nav-link {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #ffffff;
  }
  
  .nav-link:hover {
    color: #ffffff;
  }
  
  /* Customize the Offcanvas */
  .offcanvas-header {
    background-color: #000000;
    color: #000000;
    border-bottom: 1px solid #000000;
  }
  
  .offcanvas-title {
    font-size: 1.5rem;
  }
  
  .offcanvas-body {
    background-color: #000000;
    padding: 1rem;
  }
  
  /* Add margin to the top of the Navbar */
  .mb-3 {
    margin-top: 0;
  }
  