/* AgentChats.css */

body {
  overflow: auto;
}

.random-list-group,
.random-messages-column {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  width: 59rem;
  max-width: 58rem;
  height: 46vh;
  margin: auto;
  overflow-y: auto;
  position: absolute;
  top: 17%;
  left: 20%;
  transform: translate(-50%, -50%);
  border: none;
  box-shadow: 0 0 10px rgba(37, 12, 200, 0);
  transform: scale(0.6);
  transform-origin: top;
  font-size: 25px;
  color: #070101;
}

@media (max-width: 1500px) {
  .random-list-group,
  .random-messages-column {
    width: 100%;
    top: 65%;
    height: 300px;
    left: 26%;
    transform: scale(0.4);
  }
}

.random-list-group h2,
.random-messages-column h2 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #000;
}

.random-list-group .random-item,
.random-messages-column .random-item {
  cursor: pointer;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease;
}

.random-list-group .random-item:hover,
.random-messages-column .random-item:hover {
  background: #007bff;
}

.random-list-group strong,
.random-messages-column strong {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.random-messages-column {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 20px;
  width: 59rem;
  max-width: 58rem;
  height: 85%;
  font-size: 19px;
  margin: auto;
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translate(-50%, -50%);
  border: none;
  box-shadow: 0 0 10px rgba(37, 12, 200, 0);
  transform: scale(0.6);
  transform-origin: top;
}

#random-messages-container {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

@media (max-width: 1500px) {
  .random-messages-column {
    width: 100%;
    top: 43%;
    height: 50%;
    transform: scale(0.4);
    left: 25%;
    background-color: rgba(255, 255, 255, 1);
  }
}

.random-card-body {
  padding: 15px;
  justify-content: space-between; /* Add this to position items at each end */

}

.random-overflow-auto {
  max-height: 45vh;
}

.random-chat-message {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.random-chat-message-container {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  left: -9%;
}

.random-message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.random-message-header p {
  margin: 0;
}

.random-form-group {
  margin-bottom: 15px;
}

.random-form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgba(255, 255, 255);
  color: #000;
}

.random-btn {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.random-btn-primary {
  background-color: #007bff;
}

.random-btn:hover {
  background-color: #0056b3;
}
